
Logs/Backup-Wallets.log
Logs/Monitor-GPUsTotal.log
Logs/Monitor-NetworkConnection.log
Logs/Monitor-NiceHash.log
Logs/Monitor-PowerLevels.log
Monitor-Critical.xml
*.log
ProwlNotification.vbs
ReadAPI.vbs
Monitor-Critical.xml
